body{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.google{
 
 margin-left:  22%;
 margin-right: 22%;
 margin-top: 110px;
 width: 74Opx;
 height: 400px;
 position: absolute;
}
img{
    margin-left:100px;
    width: 500px;
    height: 270px;
    bottom: 20px;
}
.input1{
width: 710px;
height: 50px;
border-bottom-left-radius:20px;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
border-top-left-radius:20px ;
}
.input2{
    margin-left: 230px;
    margin-top: 10px;
}

.boutom{

   width: 100%;
   height: 70px;
   margin-top: 10px;
   position: absolute;
}
#btn1{
    position: fixed;
    display: inline;
    right: 170px;
}
#btn2{
    right: 70px;
    position: absolute;
    display: inline;
}
.boot{
    position: relative;
   left: 90%;
}
.mo{
    position: relative;
    border: transparent;
    left:1170px;
    top: 20px;
}
.container-fluid{
    position: relative;
    bottom: 100px;
}
.mo:hover{
    background-color: #0000ff;  
    color: whitesmoke 
}
.mac:hover{
    background-color: #0000ff; 
    color: whitesmoke
}
.mi:hover{
    background-color: #0000ff; 
    color: whitesmoke;
}